body {
  background-image: url("./images/background.png");
  margin: none;
  padding: none;
  position: relative;
}
h1 {
	text-align: center;
	font-size: 24pt;
	font-family: "Times New Roman";
	font-weight: bold;
	text-shadow: 3px 3px #999999;
}
p {
  font-size: 12pt;
  font-family: Helvetica;
}
#sp1{
	font-size: 48pt;
	color: red;
	font-family: Georgia;
	font-weight: bold;
	text-align: center;
	position: absolute;
	left: 100px;
	}
#d0{
	width: 55%;
	outline: 5px solid gray;
	outline-offset: 5px;
	padding: 0.5em;
	background-color: #EEEEEE;
	margin: auto;
}	
#d1{
	display: flex;
	flex-direction: row;
}
#d2{
	display: flex;
	flex-direction: column;
	flex: 9;
}
#d3{
	display: flex;
	flex-direction: column;
	flex: 1;
	background-color: #A2B964;
}
#banner{
	background-image: url("./images/rbg.png");
	position:relative;
	height: 83px;
	overflow: hidden;
}
footer{
	background-color: #A2B964;
	bottom:0;
	font-weight: bold;
	text-align: center;
}
#w3c{
	position: absolute;
	bottom: 2px;
	right: 2px;
	
}
dl{
	font-weight: bold;
	padding: 15px;
	font-family: Arial;
}
dt{
	padding-top:15px;
}
.quotebubble{
	background-color: #FFFFFF;
	border: 2px solid #CCCCCC;
	border-radius: 12px;
	padding: 1em;
	font-family: "Times New Roman";
	font-size:13 pt;
	width: 90%;
}
.quotebubble > img{
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
}
p:not(.quotebubble){
	font-size: 13pt;
}
p:not(.quotebubble)> img{
	float:left;
	margin-right:5px;
}
.publication{
	font-style: italic;
}

